@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat&family=Roboto&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --light-color: rgb(231, 231, 231);
    --dark-color: #002240;
    --border-bottom: #b4becb;
    --main-gray: rgb(128, 128, 128);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}

.navbar a:hover {
    border-bottom: 2px white solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/* .showcase h1 {
    font-size: 40px;
    font-weight: 600;
} */

.showcase p {
    padding: 20px 0;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end; /* Added for widescreen */
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--border-bottom);
    width: 100%;
    padding: 3px;
    font-size: 16px;
} 

.showcase-form input:focus {
    outline: none;
}

.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}


/* Stats Style */

.stats {
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: 0 auto;
    color: var(--main-gray);
}

.stats .grid i {
    color: var(--primary-color);
}

.stats .grid h3 {
    font-size: 28px;
    color: var(--main-gray);
}

.stats .grid p {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
}


/*  CLI Styles */

.cli {
    background-color: var(--light-color);
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */

.cloud .grid {
    grid-template-columns: 4fr 3fr;
    color: white;
}

/* Languages */

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in-out;
}

.languages .card h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--main-gray);
}

.languages .card:hover {
    transform: translateY(-15px)
}

/* Footer */

.socials a {
    margin: 10px;
}

/* Media Queries */

/* Tablets and under */
@media(max-width: 768px) {
    .grid, 
    .showcase .grid,
    .stats .grid,
    .cli .grid, 
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        margin-top: 40px;
        text-align: center;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
}